includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    excludePaths:
        - src/Concerns/InteractsWithMonacoEditor.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
